{% extends 'base.html' %}
{% load static %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<img src="{% static 'about.jpg' %}" alt="lendo-livro">
<h2>Sobre</h2>
<p>Esta página contém informações sobre minha humilde pessoa. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% endblock content %}