{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block content %}
<h2>{{ category.name }}</h2>

<p>Descrição: {{ category.description }}</p>
<br>

{% if post_set %}
<section id="list">
    {% for post in post_set %}
    <article id="card">
        <div>
            <a href="{% url 'blog:detail_post' post.id %}">
                <img src="{{ post.book.cover_url }}" alt="Capa do livro {{ post.book.name }}">
                <p id="card-p">{{ post.book.name }}</p>
                <small id="card-small">{{ post.title }}</small>
            </a>
        </div>
    </article>
    {% endfor %}
</section>
{% else %}
<p id="warning">Não foi encontrada nenhuma resenha da categoria.</p>
{% endif %}

<p id="back"><a href="{% url 'blog:categories' %}">Voltar para categorias</a></p>

{% endblock content %}