{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<h2>{{ post.title }}</h2>

<section class="post">
    <img id="book_cover" src="{{ post.book.cover_url }}" alt="Capa do livro {{ post.book.name }}">
    <h3>{{ post.book.name }} ({{ post.book.author }})</h3>
    <small>{{ post.date|date:"d/m/Y" }}</small>
    {{ post.text|safe|escape }}
    <strong class="rating">Nota: {{ post.rating }}</strong>
</section>

<section id="section">
    <h3>Categorias</h3>
    <div id="buttons">
        {% if post.category_set.all %}
        {% for category in post.category_set.all %}
            <p><a id="category" href="{% url 'blog:category' category.id %}">{{ category.name }}</a></p>
        {% endfor %}
        {% endif %}
    </div>
</section>

<section id="section">
    <h3>Comentários</h3>

    {% if post.comment_set.all %}
    {% for comment in post.comment_set.all %}
    <div id="comment">
        <p><strong id="commenter">{{ comment.author }}</strong>   {{ comment.text }}</p>
        <small>{{ comment.date|date:"d/m/Y" }}</small>
    </div>
    {% endfor %}
    {% else %}
    <p id="warning">Ainda não existe nenhum comentário.</p>
    {% endif %}
</section>

<br>
<div id="buttons">
    <a id="button" href="{% url 'blog:create_comment' post.pk %}">Comentar</a>
    <a id="button" href="{% url 'blog:update' post.id %}">Editar</a>
    <a id="button" href="{% url 'blog:delete' post.id %}">Apagar</a>
</div>

<p id="back"><a href="{% url 'blog:posts' %}">Voltar para resenhas</a></p>


{% endblock content %}