{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <header id="main-header">
        <a href="{% url 'blog:index' %}" id="logo">
            <img src="{% static 'logo.png' %}" alt="logo">
            <h1>Última Página</h1>
        </a>
        <nav id="main-nav">
            <ul>
                <li><a href="{% url 'blog:index' %}">Início</a></li>
                <li><a href="{% url 'blog:about' %}">Sobre</a></li>
                <li><a href="{% url 'blog:posts' %}">Resenhas</a></li>
                <li><a href="{% url 'blog:books' %}">Livros</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>
    <main id="main-container">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="main-footer">
        <p>
            <small>© Copyright 2021</small>
        </p>
    </footer>
</body>

</html>